.default-gray {
    color: #6c757d;
}
.default-gray:hover {
    color: white;
}

#button-addon1 {
    color: #ffc371;
}

.social-media i {
    color: #FFFFFF66;
}

.social-media i:hover {
    color: #e44399;
}

.fa-paper-plane {
    color: #e44399;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.copyrights{font-feature-settings: 'lnum' 1;}